<app-header></app-header>
<div id="login-modal" style="margin-top: 5%">

  <div class="col-sm-6 offset-3">
    <div class="loginmodal-container">
      <h1>Menage your locals</h1><br>
      <form (submit)="onLogInClick()">
        <input [(ngModel)]="email" type="text" name="user" placeholder="Email">
        <input [(ngModel)]="password" id="password" type="password" name="pass" placeholder="Password">
        <p style="color: red">{{ labelText }}</p>
        <button type="submit" name="login" class="loginmodal-submit offset-4 btn btn-success">Login</button>
      </form>

      <div class="row">
        <div class="login-help col-sm-1 offset-4">
          <a routerLink="/register">Register</a>
        </div>

        <div class="login-help">
          <a routerLink="/login/owner">Log in as owner</a>
        </div>
      </div>

    </div>
  </div>
</div>

